/* L'écriture de la page est complètement en "Raleway" par défaut */

* {
    font-family: "Raleway", sans-serif;
}

/* Pour avoir une meilleure visibilité sur les éléments de la page web */

div {
    border: 1px solid black;
}

h1 {
    border: 1px solid violet;
}

p {
    border: 1px solid red;
}

aside {
    border: 1px solid green;
}

nav {
    border: 1px solid blue;
}

/* Pour pouvoir centrer la page par rapport à sa largeur et hauteur */

div#bloc_page {
    width: 1437px;
    height: 1881px;
    margin: auto;
}

/* Bloc contenant le logo et le nav */

div#container_logo_nav {
    display: flex;
}

/* Bloc contenant le logo */

div#logo {
    width: 50%;
}

/* Taille du logo */

div#logo p img {
    width: 94px;
    height: 25px;
}

/* Le menu du nav */

nav.menu {
    width: 50%;
}

/* Comportement et disposition des éléments du nav */

nav.menu ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

/* Les élément du menu nav ont un espace vers la gauche */

nav.menu ul li {
    padding-left: 34px;
    padding-right: 34px;
}

div#inscrire p {
    padding-left: 34px;
}

/* Barre de recherche */

div#rechercher {
    display: flex;
}

/* Comportement du Formulaire */

form {
    display: flex;
}

/* Les éléments du filtre sont centrés */

div#filtres {
    display: flex;
    align-items: center;
}

/* L'îcone et le nom du filtre soient ajencés côte à côte */

div#filtres div {
    display: flex;
}

/* Comportement des sections */

section {
    display:flex;
    justify-content:space-between;
}

/* Conteneur "Hébergements à Marseille dont la couleur de fond est grisée */

div#conteneur_heb_marseille {
    display: flex;
    width: 880px;
    background-color: #F2F2F2;
}

/* Les blocs contenant le titre les images et leur intitulé sont centrés et disposés en colonne à l'intérieur du conteneur "Hébergements à Marseille" */

div#bloc_center_heb_marseille {
    display: flex;
    flex-direction: column;
    width: 801px;
    margin: auto;
}

/* Conteneur "Les plus populaires" dont la couleur de fond est grisée */

aside#conteneur_plus_populaires {
    display: flex;
    width: 419px;
    height: 619px;
    background-color: #F2F2F2;
}

/* Bloc centrant tous les éléments dans le conteneur "Les plus populaires */

div#bloc_center_pop {
    width: 343px;
    height: 549px;
    margin: auto;
}

/* Conteneur "Activités à Marseille" qui est étendue à 100% de la page et dont les éléments sont positionnés en colonne */

section#conteneur_act_marseille {
    width: 100%;
    flex-direction: column;
}

/* Bloc contenant les blocs qui contiennent les images et leur intitulé qui ont des espaces autour d'eux et qui vont à la ligne lorsqu'ils arrivent à la limite du bloc. A l'intérieur du conteneur "Hébergements à Marseille" */

div#bloc_img_heb_marseille {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Bloc contenant les blocs qui contiennent les images et leur intitulé qui sont en colonne et centrés. A l'intérieur du conteneur "Les plus populaires" */

div#img_plus_populaires {
    display:flex;
    flex-direction: column;
    align-items: center;
}

/* Pour mettre le titre "Les plus populaires" à gauche et l'îcone "graph" à droite. Tous les deux étant également centré en axe verticale  */

div#titre_graph {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Dimension du bloc contenant l'image dans le conteneur "Hébergements à Marseille */

div.img_heb_marseille {
    width: 237px;
    height: 114px;
}

/* Dimension des images dans le conteneur "Hébergements à Marseille */

div.img_heb_marseille p a img {
    width: 237px;
    height: 114px;
}

/* Disposition des intitulés et des étoiles dans le conteneur "Les plus populaires". En colonne et séparé par un espace */

div.text_star {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 186px;
}

/* Les mots passent à la ligne quand ils arrivent à la limite du bloc dans le conteneur "Les plus populaires" */

div.text_star div p {
    word-wrap: wrap;
}

/* Les blocs contenant les images et leur intitulé. L'image à gauche, l'intitulé et les étoiles à droite de l'image. Ils sont centrés. Ils sont tous dans le conteneur "Les plus populaires" */

div.bloc_img_pop {
    display: flex;
    width: 344px;
    height: 144px;
    justify-content: center;
    border: 5px solid white;
    border-radius: 20px;
}

/* Taille des images dans le conteneur "Les plus populaires" */

div.img_pop p a img {
    width: 128px;
    height: 135px;
}

/* Bloc contenant tous les blocs qui contiennent les figures dans le conteneur "Activités à Marseille". Les blocs ont des espaces entres eux */

div#img_act_marseille {
    display:flex;
    justify-content: space-between;
}

/* Les blocs contenant une seule figure à l'intérieur. Ils sont dans le conteneur "Activités à Marseille" */

div.img_bloc_act_marseille_1 a figure img {
    width: 250px;
    height: 388px;
}

/* Les blocs contenant deux figures à l'intérieur. Ils sont dans le conteneur "Activités à Marseille" */

div.img_bloc_act_marseille_2 a figure img {
    width: 250px;
    height: 178px;
}

/* Les éléments du pied de page sont alignés */

footer {
    display: flex;
    flex-direction: row;
}

/* Les éléments du pied de page s'étend à 99% de largeur de la page */

footer div {
    width: 33%;
}

/* Responsiv pour les mobiles */

@media all and (max-device-width: 480px) {
    div#bloc_page {
        width: 375px;
    }

    div#container_logo_nav {
        flex-direction: column;
    }

    div#logo {
        width: auto;
    }

    nav.menu {
        display: flex;
        width: auto;
    }

    nav.menu ul {
        margin-left: 0px;
        padding-left: 0px;
    }

    nav.menu ul li {
        padding: 0px 50px 0px 50px;
    }

    div#inscrire p{
        position: absolute;
        padding-left: 0px;        
        left: 600px;
        bottom: 1670px;
    }

    div#filtres {
        flex-wrap: wrap;
    }

    section {
        display: flex;
        flex-direction: column-reverse;
    }

    div#conteneur_heb_marseille {
        width: auto;
    }

    div#bloc_center_heb_marseille {
        width: auto;
    }

    div.img_heb_marseille {
        width: 325px;
    }

    div.img_heb_marseille p a img {
        width: 325px;
    }

    aside#conteneur_plus_populaires {
        width: auto;
    }

    section#conteneur_act_marseille {
        display: flex;
        flex-direction: column;
    }

    div#img_act_marseille {
        display: flex;
        flex-direction: column;
    }

    footer {
        flex-direction: column;
    }

    footer div {
        width: auto;
    }
}